node_modules
.next
.git
.gitignore
.env
.env.local
.env.development
.env.test
npm-debug.log
yarn-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
scripts
prisma/migrations
public/uploads/*
uploads/*
